nav{
		font-size: 18px;
}

img{
		width:500px;
}

body{
		color: cyan;
}

body{
		background-color: black;
}

div{
		margin:25px;
		background-color:purple;
		padding:15px;
}

a:link{
		color:red;
		background-color:white;
}

a:hover{
		color:red;
		background-color:gold;
		font-size:26px;
}

.animepic{
	height:300px
}
